 /*{
  border: dashed white 1px;
} */

html, body{
	margin: 0;
	padding:0;
	color:lightgrey;
	background-color: #333;
	font-family: 'Lato', sans-serif;
}
body{
	padding-top:50px;
}
h2{
	text-align: center;
}

/*NAVBAR*/

.navbar{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D70A0A;
}
#nav a{
	color: #fff;
	font-size: 25px;
}
#nav a:hover{
	color: #ff9090;
}

/*LOGO*/

#header{
	margin-top:30px;
	padding: 40px 0;
}
#logo{
	width:450px;
	font-size:48px;
	border:1px solid white;
	margin-left: auto;
	margin-right: auto;
	height:138px;
	margin-top:40px;
}
#logo h1{
	font-size: 50px;
	margin-top:40px;
}
#logo img {
	margin-right: 35px;
}
@media (max-width: 768px){
	#logo{
		width:155px;
		font-size:48px;
		border:1px solid white;
		margin-left: auto;
		margin-right: auto;
		height:138px;
		margin-top:40px;
	}
	#logo img {
	margin-right: 0px;
	}
}

/*CONTENT*/

#main_form {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	font-size:23px;
}
#content h2 {
	text-align: center;
	margin-bottom: 40px;
}
#jRate {
	padding:5px;
	width:auto;
	margin-left: 8px;
}
label.error{
	color:#ff9090;
}
select {
	height: 35px;
	margin-top: 8px;
	cursor:pointer;
	color:grey;
}
input[type="checkbox"]{
	width:15px;
	height: 15px;
	cursor:pointer;
	margin:0px 4px 0 0;
	background: green;
}
#subbut {
	display:block;
	background-color:#D70A0A;
	color:#fff;
	width:190px;
	height: 50px; 
	margin-top: 15px;
	margin-left:auto;
	margin-right: auto;
	font-size: 24px;
	text-align: center;
}
#subbut:hover{
	color:#ff9090;
}
@media (min-width: 768px){
	.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;  
	}
}
@media (min-width: 991px){
	.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;  
    text-align: right;
	}
}

/*ALL_MOVIES SUBLINK*/

#all_movies{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 2em;
}
#all_movies a{
	text-decoration: none;
	color: lightgrey;
	font-size: 17px;
}
#all_movies a:hover{
	color: #ff9090;
}

/*TOP MOVIES*/

#top_ten_movies{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 1.5em;
	font-size: 23px;
}
#top_ten_movies a{
	text-decoration: none;
	color: lightgrey;
	font-size: 23px;
}
#top_ten_movies a:hover{
	color: #ff9090;
}

/*MOVIE_DETAILS SUBLINK*/

#specific_movie{
	text-align: center;
	font-size: 19px;
	margin-right: auto;
	margin-left: auto;	
	line-height: 2em;
}
#title_generated{
	font-size: 40px;	
}
#sizing_title{
	font-size: 40px;
	margin-top: 10px;
	padding:5px;
}
.writecolor{
	color: #ff9090;
	font-size: 22px;
}
a button {
	background-color:#D70A0A;
	color:#fff;
	width:190px;
	height: auto; 
	margin-top: 15px;
	margin-left:auto;
	margin-right: auto;
	font-size: 20px;
	text-align: center;
}
a button:hover{
	color:#ff9090;
} 
table  {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid lightgrey;
}
th, td, th {
	border: 1px solid lightgrey;
	min-width: 50px;
	width: auto;
	padding: 5px;
	text-align: center;
}

/*CONTACT SUBLINK*/

#contact {
	
	text-align: center;
	font-size: 23px;
	margin-right: auto;
	margin-left: auto;	
	line-height: 1.5em;
}

/*SOCIAL LINKS*/

#wraper_for_socials{
	background-color: #292929;
	text-align: center;
	margin-top: 120px;
}
#wraper_for_socials>.container>.row{
	margin-left: auto;
	margin-right: auto;
}
.fb, .fw, .imdb, .kmf{
	margin: 0 auto	;
	text-align: center;
}
.fb:hover{
	background-color: #4668b3;
}
.fw:hover{
	background-color: #FFC404;
}
.imdb:hover{
	background-color: #f5de50;
}
.kmf:hover{
	background-color: #7F3E98;
}
a.sociallink{
	color:white;
	text-decoration: none;
	display:block;
	height: 155px;
}

/*FOOTER*/

#foot_of_page>.container>#footer {
	font-size:14px;
	text-align: center;
	padding:30px;
}